{% extends 'core/base.html' %}

{% block hero %}

            <div class="posts">
            <div class="content-wrap">
                <div class="hero__shape-2"></div>
                <div class="hero__shape-3"></div>

                        {% block page_title %}
                            <h1 class="centered-title">Log In</h1>
                        {% endblock page_title %}

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Login">
                </form>


            </div>
        </div>
{% endblock %}


