{% extends 'core/base.html' %}


{% block hero %}
    <div class="content-wrap">
        <div class="hero__shape-2"></div>
        <div class="hero__shape-3"></div>

        <div class="post">
            <h2>{{ post.title }}</h2>
            {% for category in post.category.all %}
                <span><em># {{ category }}</em></span>
            {% endfor %}
<p style="word-wrap: break-word;">{{ post.body|safe }}</p>

            <h5>Author: {{ post.author }}</h5>
            <a href="{% url 'post_edit' post.pk %}" class="btn-edit">Edit</a>

        </div>

    </div>
{% endblock %}