                <div class="posts">
                    {% block posts %}
                        {% for post in posts %}
                            <div class="post">
                                <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                                <p>{{ post.body }}</p>
                                <h5>Author: {{ post.author }}</h5>
                            </div>
                        {% endfor %}
                    {% endblock %}
                    </div>
                </div>

<div>
    <h2>{{post}}</h2>
    <p>{{ post.body }}</p>
</div>