{% extends 'core/base.html' %}
{% load static %}
{% load my_tags %}


<head>
    {% block title %}<title>Home</title>{% endblock title %}
</head>


{% block hero %}
    <main class="main">
        <section class="hero">
                <img src="{% static 'img/shape-bg.png' %}" alt="" class="hero__shape-bg">
        </section>

            <div class="content-wrap">
{#                <div class="hero__shape-1"></div>#}
                <div class="hero__shape-2"></div>
                <div class="hero__shape-3"></div>

                {% block page_title %}
                    <h1 class="centered-title">Recent Posts</h1>
                {% endblock page_title %}

                <div class="posts">

                    {% block posts %}
                        {% for post in posts %}
                            <div class="post">
                                <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                                <p>{{ post.body }}</p>
                                <h5>Author: {{ post.author }}</h5>
                            </div>
                        {% endfor %}
                    {% endblock %}
                    </div>

                </div>

                <div class="content-wrap">
{#                    <div class="hero__shape-1"></div>#}
                    <div class="hero__shape-2"></div>
                    <div class="hero__shape-3"></div>

                    {% block page_title_repeat %}
                        <h1 class="centered-title">Recent Posts Repeat</h1>
                    {% endblock page_title_repeat %}

                    <div class="posts">

                        {% block posts_repeat %}
                            {% for post in posts %}
                                <div class="post">
                                    <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                                    <p>{{ post.body }}</p>
                                    <h5>Author: {{ post.author }}</h5>
                                </div>
                            {% endfor %}
                        {% endblock %}
                        </div>

                </div>

                <div class="content-wrap">
{#                    <div class="hero__shape-1"></div>#}
                    <div class="hero__shape-2"></div>
                    <div class="hero__shape-3"></div>

                    {% block page_title_repeat_again %}
                        <h1 class="centered-title">Recent Posts Repeat</h1>
                    {% endblock page_title_repeat_again %}

                    <div class="posts">

                        {% block posts_repeat_again %}
                            {% for post in posts %}
                                <div class="post">
                                    <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                                    <p>{{ post.body }}</p>
                                    <h5>Author: {{ post.author }}</h5>
                                </div>
                            {% endfor %}
                        {% endblock %}
                        </div>

                </div>




    </main>
{% endblock hero%}


















